* {
  padding: 0;
  margin: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  z-index: 9000;
  display: none;
}

body, main {
  font-family: 'Manrope', sans-serif;
  flex-direction: column;
  display: flex;
  gap: 2rem;
}

header, h2, footer {
  font-family: 'Inter', monospace;
}

header, footer, h2, h3, h4 {
  text-align: center;
}

section {
  place-items: center;
  display: grid;
  gap: 0.5rem;
}

#weather-grade {
  font-size: 4.3vw;
}

#pomodoro-time {
  font-size: 3.6vw;
}

p {
  font-size: 1vw;
}

.task-info-text {
  font-family: 'Inter', monospace;
  font-size: 1.2vw;
}

#task-info-description {
  font-size: 1.1vw;
  overflow: auto;
  height: 4.5vw;
}

#task-info-tags {
  color: rgb(144, 214, 38);
  text-align: center;
  overflow-x: auto;
  height: 1.3vw;
}

ul {
  overflow: auto;
}