button {
  font-family: 'Manrope', sans-serif;
}

#weather-image-src, .pomodoro-controls {
  width: 2.3rem;
  height: auto;
}

.pomodoro-controls:hover {
  cursor: pointer;
  opacity: 0.8;
}

#progress-container {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  height: 1.5vh;
  width: 100%;
}

#progress-container::before {
  background: #d9d9d9;
  position: absolute;
  content: "";
  inset: 0;
}

#progress-bar {
  background: linear-gradient(90deg, #3aa0cf, #7edfcf);
  transition: width 0.25s ease;
  position: absolute;
  width: 0%;
  inset: 0;
}

.button-container {
  justify-content: center;
  flex-direction: row;
  display: flex;
  gap: 0.5rem;
}

.new-task {
  box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.15);
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  background: #fff;
  font-size: 80%;
}

#add-task, #submit-task, #task-info-start, #task-info-edit, #task-info-delete {
  border: 0.1rem solid rgb(54, 147, 190);
  background-color: rgb(58, 160, 207);
  cursor: pointer;
  height: 1.4rem;
  color: #fff;
  border: none;
  width: 50%;
}

#add-task:hover, #submit-task:hover, #task-info-start:hover, #task-info-edit:hover, #task-info-delete:hover {
  background-color: rgb(48, 134, 173);
}

#task-info-delete {
  border: 0.1rem solid rgb(228, 41, 41);
  background-color: rgb(245, 43, 43);
}

#task-info-delete:hover {
  background-color: rgb(221, 39, 39);
}

#filter-task {
  cursor: pointer;
  height: 1.4rem;
  width: 50%;
}

#filter-task:hover {
  background-color: #f0f0f0;
}

#options-menu {
  box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.15);
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  background: #fff;
  position: absolute;
  padding: 0.3rem;
  display: none;
  z-index: 9999;
}

#options-menu button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  text-align: left;
  background: none;
  cursor: pointer;
  display: block;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  width: 100%;
}

#options-menu button:hover {
  background: #f0f0f0;
}