:root {
  --in-progress: rgb(58, 160, 207);
  --completed: #4CAF50;
  --pending: grey;
}

.box-shadow {
  box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.15);
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

#hero, #task-menu {
  flex-direction: row;
  display: flex;
  gap: 0.5rem;
}

#weather {
  min-height: 20vh;
  min-width: 31vh;
  gap: 0.4rem;
}

#pomodoro, #task-admin {
  flex-direction: column;
  max-height: 40vh;
  min-width: 80vh;
}

#timer, #pomodoro-controls-image, #weather-image {
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

#weather-image {
  gap: 0.5rem;
}

#timer {
  gap: 5rem;
}

.pomodoro-image {
  align-items: center;
  border-radius: 50%;
  display: flex;
}

.pomodoro-image[data-status="weather"] {
  background: skyblue;
}

.pomodoro-image[data-status="no-presioned"] {
  background: #d9d9d9;
}

.pomodoro-image[data-status="presioned"] {
  background: rgb(58, 160, 207);
}

.pomodoro-image[data-status="no-presioned"]:hover {
  background: #c5c5c5;
}

.pomodoro-image[data-status="presioned"]:hover {
  background-color: rgb(48, 134, 173);
}

#task-data {
  height: 100%;
}

#task-today{
  flex-direction: column;
  height: 40vh;
  width: 34vh;
  display: flex;
  gap: 0.5rem;
}

#weather, #task-pending-section, #task-completed-section {
  flex-direction: column;
  height: 100%;
}

#task-info {
  transform: translate(-50%, -50%);
  flex-direction: column;
  background: #fff;
  position: fixed;
  z-index: 9999;
  display: none;
  max-width: 20vw;
  max-height: 20vw;
  left: 50%;
  top: 50%;
}

#task-info-data {
  flex-direction: row;
  display: flex;
  gap: 21%;
}

#task-info-left, #task-info-right {
  flex-direction: column;
  display: flex;
  gap: 0.2rem;
}

#task-info-left {
  text-align: left;
}

#task-info-right {
  text-align: right;
}

#task-global {
  max-height: 15vw;
}

#task-pending, #task-completed {
  max-height: 5.5vw;
}

li {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
  list-style: none;
}

li::before {
  transform: translateY(-50%);
  position: absolute;
  border-radius: 50%;
  height: 0.65rem;
  width: 0.65rem;
  content: "";
  top: 50%;
  left: 0;
}

li::after {
  transform: translateY(-50%);
  position: absolute;
  font-size: 1.2rem;
  transition: 0.2s;
  cursor: pointer;
  content: "⋯";
  opacity: 0.7;
  top: 50%;
  right: 0;
}

li:hover::after {
  opacity: 1;
}

li[data-status="pending"]::before {
  background: var(--pending);
}

li[data-status="in-progress"]::before {
  background: var(--in-progress);
}

li[data-status="completed"]::before {
  background: var(--completed);
}

#task-form {
  transform: translate(-50%, -50%);
  flex-direction: column;
  background: #fff;
  position: fixed;
  max-width: 65vh;   
  display: none; 
  z-index: 9999;
  width: 90%;
  left: 50%;
  top: 50%;
}

#text-input {
  flex-direction: row;
  display: flex;
  gap: 1rem;
}

.text-input-column {
  display: grid;
  width: 100%;
  gap: 0.3rem;
}