/* all */
:root {
  --white: white;
  --grey: grey;
  --gray: rgb(70, 69, 69);
  --bleck: rgb(14, 14, 14);
  --black: black;
}

* {
  font-family: 'urbanist', sans-serif;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100%;
}

main {
  flex-direction: column;
  align-items: center;
  display: flex;
  flex: 1;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--white);
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

/* header and footer */
header {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1%;
  display: flex;
}

footer {
  text-align: center;
  margin-top: 2rem;
  position: static;
  width: 100%;
}

/* Text */
h2 {
  font-size: 2.1rem;
}

h4 {
  font-size: 9rem;
}

b {
  color: var(--grey);
  font-size: 1.8rem;
}

p {
  color: rgb(137, 137, 139);
  font-size: 0.9rem;
}

/* Search */
#weather-search {
  justify-content: center;
  align-items: center;
  min-width: 55%;
  display: flex;
  padding: 3%;
}

#search {
  border-radius: 5px 0 0 5px;
  width: 100%;
}

#search, #submit {
  border: 1px solid var(--black);
  padding: 3%;
}

#submit {
  background-color: var(--white);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(212, 212, 212);
}

/* script */
#weather-data {
  padding-top: 2%;
}

#weather-data, #wind-humidity {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#weather-data-article {
  gap: 10%;
}

#weather-data-article, .image-data {
  align-items: center;
  flex-direction: row;
  display: flex;
}

/* image */
.image-recurs, #image-weather, #dark-mode {
  height: auto;
}

#image-weather {
  max-width: 4rem;
}

.image-recurs {
  max-width: 2rem;
}

#dark-mode {
  width: 3rem;
}

#dark-mode:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* buttons */
#config {
  flex-direction: column;
  align-items: center;
  display: flex;
}

#buttons {
  justify-content: center;
  flex-direction: row;
  display: flex;
  gap: 20%;
}

button, #country {
  color: var(--gray);
  background: none;
  font-size: 100%;
  cursor: pointer;
  outline: none;
  border: none;
}

button:hover, #country:hover {
  border-bottom: 2px solid var(--white);
  color: var(--grey);
}

#country {
  border-bottom: 2px solid rgb(137, 137, 139);
  border-radius: 0 0 5px 5px;
  margin-top: 1%;
}

/* responsive */
@media (max-width: 768px) {
  #dark-mode, #light-mode {
    width: 2.2rem;
  }

  #weather-data-article {
    height: 15%;
    width: 15%;
  }

  #weather-data, #weather-data-article {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .image-recurs {
    max-width: 1.5rem;
  }
}

 /* dark mode */ 
.dark-come {
  background-color: var(--bleck);
  color: var(--white);
}

.dark-come #search, .dark-come #submit {
  background-color: var(--bleck);
  border: 1px solid var(--white);
  color: var(--grey);
}

.dark-come #submit:hover {
  background-color: var(--black);
}

.dark-come button:hover, .dark-come #country:hover {
  border-bottom: 2px solid var(--bleck);
  color: var(--white);
}

.dark-come #country {
  border-bottom: 2px solid var(--grey);
}