/* all */
* {
  font-family: 'urbanist', sans-serif;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

main {
  place-items: center;
  width: auto;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: white;
}

/* header and footer */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1%;
}

footer {
  position: fixed;
  color: grey;
  bottom: 0;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 100%;
}

/* Text */
h2 {
  font-size: 2.1rem;
}

h4 {
  font-size: 9rem;
}

b {
  font-size: 1.8rem;
  color: grey;
}

p {
  color: rgb(137, 137, 139);
  font-size: 0.9rem;
}

/* Search */
#weather-search {
  min-width: 55%;
  display: flex;
  padding: 3%;
}

#search {
  border-radius: 5px 0 0 5px;
  width: 100%;
}

#search, #submit {
  border: 1px solid black;
  padding: 3%;
}

#submit {
  background-color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(212, 212, 212);
}

/* script */
#weather-data {
  padding-top: 2%;
}

#weather-data, #wind-humidity {
  flex-direction: column;
  display: flex;
}

#weather-data-article {
  padding-top: 7%;
  gap: 10%;
}

#weather-data-article, .image-data {
  flex-direction: row;
  display: flex;
}

/* image */
#image-weather {
  max-width: 4rem;
  height: auto;
  width: 100%;
}

.image-recurs {
  max-width: 2rem;
  height: auto;
  width: 100%;
}

#dark-mode, #light-mode {
  width: 3rem;
  height: auto;
  display: flex;
}

#dark-mode:hover, #light-mode:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* buttons */
#config {
  flex-direction: column;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 8%;
}

#buttons {
  justify-content: center;
  flex-direction: row;
  display: flex;
  gap: 20%;
}

button, #country {
  color: rgb(70, 69, 69);
  background: none;
  cursor: pointer;
  font-size: 100%;
  outline: none;
  border: none;
}

button:hover, #country:hover {
  border-bottom: 2px solid white;
  color: grey;
}

#country {
  border-bottom: 2px solid rgb(137, 137, 139);
  border-radius: 0 0 5px 5px;
  margin-top: 1%;
}

/* responsive */
@media (max-width: 768px) {
  * {
    align-items: center;
    text-align: center;
  }

  #dark-mode, #light-mode {
    width: 2.2rem;
  }

  #weather-data-article {
    height: 15%;
    width: 15%;
  }

  #weather-data, #weather-data-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
  }

  #config {
    bottom: 6%;
    position: fixed;
    left: 0;
  }

  .image-recurs {
    max-width: 1.5rem;
  }
}

 /* dark mode */ 
.dark-come {
  background-color: rgb(14, 14, 14);
  color: white;
}

.dark-come #search, .dark-come #submit {
  background-color: rgb(14, 14, 14);
  border: 1px solid white;
  color: grey;
}

.dark-come #submit:hover {
  background-color: black;
}

.dark-come button:hover, .dark-come #country:hover {
  border-bottom: 2px solid rgb(14, 14, 14);
  color: white;
}

.dark-come #country {
  border-bottom: 2px solid grey;
}