/* all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'urbanist', sans-serif;
}

body {
  background-color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

main {
  width: 100%;
  margin-top: 0;
  padding: 2em;
  place-items: center;
}

/* header and footer */
header {
  top: 0;
}

header, footer {
  position: fixed;
  width: 100%;
  padding: 2%;
  text-align: center;
}

footer {
  bottom: 0;
}

/* Text */
h2 {
  font-size: 35px;
}

h4 {
  font-size: 150px;
}

b {
  color: grey;
  font-size: 30px;
}

p {
  color: rgb(137, 137, 139);
  font-size: 15px;
}

/* Search */
#weather-search {
  position: relative;
  top: 10%;
  padding: 3em;
  display: flex;
  min-width: 540px;
  max-width: 50%;
}

#search {
  border-radius: 5px 0 0 5px;
  width: 100%;
  height: 50px;
}

#search, #submit {
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

#submit {
  border-radius: 0 5px 5px 0;
  width: 7em;
  cursor: pointer;
}

/* script */
#weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  gap: 50px;
}

#weather-data-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15%;
  padding: 3%;
}

#wind-humidity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* buttons */
#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

button {
  border: none;
  background: none;
  position: relative;
  font-size: 100%;
  letter-spacing: 1px;
  outline: none;
  color: rgb(70, 69, 69);
}

button:hover {
  color: grey;
}