/* all */
* {
  font-family: 'urbanist', sans-serif;
  background-color: white;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

main {
  place-items: center;
  width: auto;
}

/* header and footer */
header, footer {
  margin-bottom: 1%;
  margin-top: 1%;
  position: flex;
  width: 100%;
}

footer {
  position: fixed;
  color: grey;
  bottom: 0;
}

/* Text */
h2 {
  font-size: 2.1rem;
}

h4 {
  font-size: 9rem;
}

b {
  font-size: 1.8rem;
  color: grey;
}

p {
  color: rgb(137, 137, 139);
  font-size: 0.9rem;
}

/* Search */
#weather-search {
  min-width: 55%;
  display: flex;
  padding: 3%;
}

#search {
  border-radius: 5px 0 0 5px;
  width: 100%;
}

#search, #submit {
  border: 1px solid black;
  padding: 3%;
}

#submit {
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* script */
#weather-data {
  padding-top: 2%;
}

#weather-data, #wind-humidity {
  flex-direction: column;
  display: flex;
}

#weather-data-article {
  padding-top: 7%;
  gap: 10%;
}

#weather-data-article, .image-data {
  flex-direction: row;
  display: flex;
}

/* image */
#image-weather {
  max-width: 4rem;
  height: auto;
  width: 100%;
}

.image-recurs {
  max-width: 2.5rem;
  height: auto;
  width: 100%;
}

/* buttons */
#config {
  flex-direction: column;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 8%;
  left: 0;
}

#buttons {
  justify-content: center;
  flex-direction: row;
  display: flex;
  gap: 20%;
}

button, #country {
  color: rgb(70, 69, 69);
  background: none;
  cursor: pointer;
  font-size: 100%;
  outline: none;
  border: none;
}

button:hover, #country:hover {
  color: grey;
}

#country {
  border-bottom: 2px solid rgb(137, 137, 139);
  border-radius: 0 0 5px 5px;
  margin-top: 1%;
}

/* responsive */
@media (max-width: 768px) {
  #weather-data, #weather-data-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
  }
}