* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'urbanist', sans-serif;
}

body {
  background-color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

main {
  width: 100%;
  margin: auto;
  padding: 2em;
  place-items: center;
}

header {
  top: 0;
}

header, footer {
  position: fixed;
  width: 100%;
  padding: 2%;
  text-align: center;
}

footer {
  bottom: 0;
}

#weather-search {
  position: relative;
  top: 10%;
  padding: 5%;
  display: flex;
  min-width: 540px;
  max-width: 50%;
}

#search {
  border-radius: 5px 0 0 5px;
  width: 100%;
  height: 42px;
}

#search, #submit {
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
}

#submit {
  border-radius: 0 5px 5px 0;
  width: 5em;
  cursor: pointer;
}

#weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

h2, b {
  font-size: 40px;
}

h4 {
  font-size: 160px;
}

b {
  color: grey;
}

p {
  color: rgb(137, 137, 139);
  font-size: 20px;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 17%;
  padding: 10%;
}

.image-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#wind-humidity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}