/* Global */

html {
  background-image: linear-gradient(-20deg, #025159 0%, #733b36 100%);
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 10%;
  min-height: 100vh;
  color: #d8e9ef;
}

body {
  flex-direction: column;
  align-items: center;
  place-items: center;
  text-align: center;
  display: flex;
  padding: 0;
  margin: 0;
}

/* header and footer*/
header, footer {
  font-size: 1.3rem;
  position: flex;
  width: 100%;
}

/* text */

h1, p {
  margin: 0 auto;
}

#state {
  font-size: 1.2rem;
}

#timer {
  font-size: 2.5rem;
}

/* Circle*/
.app-container {
  flex-direction: column;
  margin-top: 4%;
  display: flex;
  height: 20rem;
  width: auto;
}

.app-circle {
  position: relative;
  margin: 0 auto;
  height: 9.7rem;
  width: 9.7rem;
}

.semi-circle {
  box-sizing: border-box;
  border: solid 0.3rem;
  position: absolute;
  height: 9.8rem;
  width: 4.8rem;
}

.left-side {
  border-bottom-left-radius: 4.8rem;
  transform-origin: right center;
  border-top-left-radius: 4.8rem;
  border-right: none;
  left: 0;
}

.right-side {
  border-bottom-right-radius: 4.8rem;
  border-top-right-radius: 4.8rem;
  transform-origin: left center;
  border-left: none;
  left: 4.8rem;
}

.left-side, .right-side {
  transform: rotate(0deg);
  top: 0;
}

.circle {
  border-color: #2b2b2b;
}

.circle-mask {
  border-color: black;
}

.app-counter-box {
  font-family: "Droid Sans Mono", monospace;
  position: relative;
  font-size: 250%;
  top:30%;
}

/* images */
#controls {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.5rem;
}

img {
  width: 2rem;
  height: auto;
  margin-top: 0.3rem;
  cursor: pointer;
}

img:hover {
  filter: brightness(0.8);
}

/* button */

.app-button {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 0.7rem;
}

.btn-state {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  gap: 0.2rem;
}

button {
  border: 2px solid #e85a71;
  text-transform: uppercase;
  letter-spacing: 10%;
  background: none;
  color: #d8e9ef;
  font-size: 100%;
  outline: none;
}

button:hover {
  color: #90c0d1;
}

@media (min-width: 768px) {
  footer {
    position: fixed;
    bottom: 0;
    font-size: 0.7rem;
  }
}