html {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  min-height: 100vh;
  color: #d8e9ef;
  background-image: linear-gradient(-20deg, #025159 0%, #733b36 100%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  place-items: center;
}

header {
  top: 0;
}

header, footer {
  position: fixed;
  width: 98%;
  padding-top: 2%;
  text-align: center;
}

footer {
  bottom: 0;
}

h1 {
  margin: 0 auto 10px auto;
  color: #d8e9ef;
}

p {
  margin: 0;
}

.app-container {
  width: 250px;
  height: 420px;
  margin-top: 120px; 
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.circle-shape {
  pointer-events: none;
}

.semi-circle {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  border: solid 6px;
}

.left-side {
  top: 0;
  left: 0;
  transform-origin: right center;
  transform: rotate(0deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
  z-index: 1;
}

.right-side {
  top: 0;
  left: 100px;
  transform-origin: left center;
  transform: rotate(0deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
}

.circle {
  border-color: #bf5239;
}

.circle-mask {
  border-color: #e85a71;
}

.app-counter-box {
  font-family: "Droid Sans Mono", monospace;
  font-size: 250%;
  position: relative;
  top: 35%;
  color: #d8e9ef;
}

.app-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn-state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

button {
  position: relative;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #e85a71;
  background: none;
  outline: none;
  color: #d8e9ef;
}

button:hover {
  color: #90c0d1;
}