/* Global */
* {
  letter-spacing: 10%;
  text-align: center;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Fira Sans", sans-serif;
}

/* header and footer*/
header {
  justify-content: center;
  flex-direction: row;
  place-items: center;
  display: flex;
  gap: 1vw;
}

footer {
  font-size: 1vw;
  color: grey;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* text */
p {
  margin: 0 auto;
}

#timer {
  font-size: 5vw;
}

#state {
  font-size: 2vw;
}

.controls-text {
  font-size: 0.8vw;
}

.bar-text, #cycle-text {
  font-size: 1.3vw;
}

/* Circle*/
.app-container {
  flex-direction: column;
  margin-top: 2%;
  display: flex;
}

.app-circle {
  pointer-events: none;
  position: relative;
  margin: 0 auto;
  height: 15vw;
  width: 15vw;
}

.semi-circle {
  box-sizing: border-box;
  border: solid 0.5vw;
  position: absolute;
  height: 17vw;
  width: 8.7vw;
}

.left-side {
  border-bottom-left-radius: 10vw;
  transform-origin: right center;
  border-top-left-radius: 10vw;
  border-right: none;
  left: -1.2vw;
}

.right-side {
  border-bottom-right-radius: 10vw;
  border-top-right-radius: 10vw;
  transform-origin: left center;
  border-left: none;
  left: 7vw;
}

.left-side, .right-side {
  transform: rotate(0deg);
}

.circle, .circle-mask {
  border-color: grey;
}

.app-counter-box {
  font-family: "Droid Sans Mono", monospace;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#state {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* controls */
#app-controls {
  transform: translate(-50%, -40%);
  flex-direction: column;
  position: absolute;
  display: flex;
  top: 68%;
  left: 50%;
  gap: 1.5vw;
}

#controls {
  flex-direction: row;
  display: flex;
  gap: 1.5vw;
}

.controls-container  {
  flex-direction: column;
  display: flex;
}

#points-container {
  flex-direction: column;
  place-items: center;
  margin-top: 3.2vw;
  display: flex;
  gap: 0.5vw;
}

/* images */
.points-cycles {
  justify-content: center;
  flex-direction: row;
  display: flex;
  height: 1vw;
  width: auto;
  gap: 0.5vw;
}

.controls-image {
  height: auto;
  width: 5vw;
}

#dark-mode {
  height: 3.5vw;
  width: 3.5vw;
}

#dark-mode:hover, .controls-image:hover  {
  cursor: pointer;
  opacity: 0.8;
}

/* button */
.bar-controls {
  -webkit-appearance: none;
  width: 15.5vw;
}

.bar-controls::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 0.5vw;
  background: grey;
  height: 0.8vw;
}

.bar-controls::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -0.3vw;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  height: 1.4vw;
  width: 1.4vw;
}

.bar-controls::-webkit-slider-thumb:hover {
  opacity: 93%;
}

/* responsive */
@media (max-width: 768px) {
  * {
    letter-spacing: 2%;
  }

  .app-container {
    margin-top: 2.5vw;
  }

  #app-controls {
    gap: 0.9rem;
  }
}

/* dark mode*/
.dark-come, .dark-come .bar-controls {
  background-color: black;
  color: white;
}

.dark-come .bar-controls::-webkit-slider-thumb {
  background: white;
}